@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Unbounded:wght@200;600;700&display=swap');

.tags {
    padding: 8px;
    border-radius: 8px;
    background-color: transparent; /* Define a cor de fundo inicial como transparente */
    display: flex;
    gap: 16px;
    height: 43px;
    width: 411px;
    justify-content: center;
    margin: 0 auto;
  }
  
  .tags button {
    background: none;
    border: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    outline: none;
    white-space: nowrap;

  }
  
  .tags button.active {
    background-color: #14458085; /* Define a cor de fundo mais escura quando selecionado */
    border-radius: 8px;
    font-weight: 600;
    align-items: center;
  }